
<footer>
      <div class="container">
        <div class="row">
          <div class="col-md-4">
            <h5>Shop</h5>
            <ul class="footer-links">
              <li><a href="#">Featured</a></li>
              <li><a href="#">Headphone</a></li>
              <li><a href="#">Gaming</a></li>
              <li><a href="#">Speakers</a></li>
              <li><a href="#">Soundbars</a></li>
              <li><a href="#">Professional</a></li>
              <li><a href="#">Offer Zone</a></li>
              <!-- Add other Shop links as needed -->
            </ul>
          </div>
          <div class="col-md-4">
            <h5>Support</h5>
            <ul class="footer-links">
              <li><a href="#">Order Status</a></li>
              <li><a href="#">Bulk Purchase Program</a></li>
              <li><a href="#">Buy Authentic</a></li>
              <li><a href="#">Product Support</a></li>
              <li><a href="#">Shipping & Delivery Policy</a></li>
              <li><a href="#">Cancellation & Refund Policy</a></li>
              <li><a href="#">Service Center</a></li>
              <li><a href="#"></a>Brand Stores</li>

              <!-- Add other Support links as needed -->
            </ul>
          </div>
          <div class="col-md-4">
            <h5>About Us</h5>
            <ul class="footer-links">
              <li><a href="#">A-Store Corporate</a></li>
              <li><a href="#">Privacy Policy</a></li>
              <li><a href="#">Cookie Policy</a></li>
              <li><a href="#">Terms of Use</a></li>
              <li><a href="#">Why Buy Direct</a></li>
              <li><a href="#">A-Store Sound Partners</a></li>

              <!-- Add other About Us links as needed -->
            </ul>
          </div>
        </div>

        <hr>
      <div class="row">
        <div class="col-md-6">
          <h5>Connect with us</h5>
          <ul class="social-links">
            <li><a href="#" target="_blank">Facebook</a></li>
            <li><a href="#" target="_blank">Twitter</a></li>
            <!-- Add other social media links as needed -->
          </ul>
        </div>
      </div>
      </div>
    </footer>
    <script  src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>

    
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>


     <script src="/js/togle.js">   </script>
</body>
</html>
